{% extends "core/base.html" %}
{% block title %}{{ context.title }}{% endblock %}


{% block content %}
<h1>
    {{ context.header }}
</h1>
<div>
    {% if context.courses %}
    <ul>
        {% for course in context.courses %}
        <li>{{course.id }}: {{course.category.name }} : {{course.name }} ({{
            course.type}})
            <button>
                <a href="/courses/clone/?course_id={{course.id}}">Clone course</a>
            </button>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Courses not found</p>
    {% endif %}
    <button><a href="/courses/create">Create course</a></button>

</div>
{% endblock %}
