{% extends "courses/course_create.html" %}
{% block clone %}

<div>
    <input type="text" id="old_course_id" name="old_course_id"
           readonly hidden value={{context.old_course.id}}>
</div>
<div>
    <label for="course_category">Course category</label>
    <select id="course_category" name="course_category" required>
        {% for category in context.categories %}
        {% if context.old_course.category == category %}
            <option value={{category.id}} selected>{{category.name}}</option>
        {% else %}}
            <option value={{category.id}}>{{category.name}}</option>
        {% endif %}}
        {% endfor %}
    </select>
</div>
<div>
    <label for="course_type">Course type</label>
    <select id="course_type" name="course_type" required>
        {% for course_type in context.course_types %}
        {% if context.old_course.type == course_type %}
        <option value={{course_type}} selected>{{course_type}}</option>
        {% else %}}
        <option value={{course_type}}>{{course_type}}</option>
        {% endif %}}
        {% endfor %}
    </select>
</div>
<div>
    <label for="course_name">Course name</label>
    <input type="text" id="course_name" name="course_name"
           value={{context.old_course.name}}>
</div>
{% endblock %}